#bars-div {
    background-color: gray;
}

button {
    margin: 10px;
}

body {
    background-color: darkslategray;
}

#bars {
    float: right;
    margin: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#hidden {
    display: none;
    background-color: #6c7a89;
    width: fit-content;
    display: flex;
    flex-direction: column;
}


