#bars-div {
    background-color: gray;
}

button {
    margin: 10px;
}

body {
    background-color: darkslategray;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#icons {
    float: right;
    display: flex;
    flex-direction: column;
    margin: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#hidden {
    display: none;
    background-color: #6c7a89;
    width: fit-content;
    display: flex;
    flex-direction: column;
    position: absolute;
}

.color_switch {
    color: green;
    background-color: blue;
}


#NumberPad {
    display: none;
    width: 100%;
    max-width: 400px;
    margin: 10px auto;
    padding: 10px;
    box-sizing: border-box;
  }
  
  #NumberPad button {
    width: 80px;
    height: 80px;
    margin: 5px;
    font-size: 24px;
    box-sizing: border-box;
  }
  

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

